
.navContainer(id="navContainer")
    .navBrand(id="navBrand")
        img.logo(src="/GA/images/logo.png" alt="logotyp")
    button.burgerMenu(id="burgerMenu" aria-label="Toggle Navigation") ☰

    .navDesktopItems(id="desktopItems")
        .navLinks(id="navLinks")
            each $item in $navItems
                a(href=$item['url'])= $item['text']
        .navAuth(id="navAuth")
            if($isLoggedIn)
                a(href="/GA/profile") Profile
                a(href="/GA/auth/logout") LogTFout
            else
                a.btn(href="/GA/auth/register") Register
                a.btn.btn-primary(href="/GA/auth/login") Login