extends ../views/layout.pug

block titles
    h1 ALL THE PRETTY CATTOS!
    nav
        a(href="./") Home
        |
        a(href="./cats/contact") Contact
        |
        a(href="./cats/create") create car

block content
    if count($cats) > 0
        each $cat in $cats
            .card
                h4= $cat['name']
                h5 Breed: #{$cat['breed']}
                a(href="./cats/update") update
                |
                a(href="./cats/delete") delete
                .imgBox
                    img(src=$cat['img'])
    else
        p no cattos here

block feet
    p paws paws paws paws