extends ./layout.pug

style.
    img {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 10px;
    }

    .imgBox {
        width: 30vw;
        height: 40vh;
        aspect-ratio: 1/1; /*background-color: var(--browniBorder);*/
        padding: 0.7%;
        border-radius: 10px;
    }

block titles
    h1 ALL THE PRETTY CATTOS!
    nav
        a(href="./") Home
        |
        a(href="./cats/contact") Contact
        |
        a(href="./cats/create") create car

block content
    if count($cats) > 0
        each $cat in $cats
            .card(id="catCard-${cat['id']}")
                h4= $cat['name']
                h5 Breed: #{$cat['breed']}
                |
                .imgBox
                    img(src=$cat['img'])
                |
                a(href="./cats/update") update
                |
                button(onclick="deleteCar(${cat['id']})", type="button") DELETE

    else
        p no cattos here

block feet
    p paws paws paws paws