doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width-device-width, initial-scale=1.0")
        title Contact
        style
            include style.css
        // script(src="routeFunction.js")

    body
        header
            h1 WELCOME TO THE CONTACT PAGE

        main
            h3 This is a beautiful cat.

            .imgBoxt
                img(src="./images/catupward.jpg", al="picture of cat", style="width:100px;height:100px;")

        footer
            p looking for the actual contacts huh?
            ul
                li phon:0918797293
                li emal: yirtpeezdd@hotmal.com
            p thak u so mach for visiteng!!