extends ./layout.pug

block titles
    h1 CONTACT PAGE
block content
    h3(style="font-size:1.6rem;") Want me to meownk up your website?½?½
    h6(style="font-size:1.02rem;") mail me at pp.crazy@hotmail.se
    h6(style="font-size:1.02rem;") or you could just call me by 069 420 67 67
    .imgBoxContact(style="height:auto;width:30%;")
        img(src="../images/catme.jpg", alt="picture of cat" style="width:100%;height:100%;object-fit:cover;border-radius:100%;aspect-ratio:1/1;")

block feet
    .imgBox(style="width=100%;height:20%;")
        img(src="../images/compcat2.jpeg" alt="picture of cat on laptop" style="width:100%;")
