extends ./layout.pug

block titles
    h1 WELCOME TO THE CONTACT PAGE
    nav
        a(href="../") Home
        |
        a(href="../cats") Cats

block content
    h3 This is a beautiful cat.

    .imgBox(style="height:40%;width:40%;")
        img(src="../images/catupward.jpg", alt="picture of cat" style="width:100%;height:100%;")

block feet
    p looking for the actual contacts huh?
    ul
        li phon:0918797293
        li emal: yirtpeezdd@hotmal.com
    p thak u so mach for visiteng!!