<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>

    <style>
        h1, p, h6{
            color: #2a113d;
        }
        .contactBox{
            background: #a8a5c3;
        }
    </style>

</head>
<body>

<h1>CONTACT PAGE</h1>

<div class="contactBox">
    <p>helo im the one who made page <br> you simply have to guess who "im" is. </p>
    <h6>phon: 93984985709487983274902</h6>
    <h6>emil: whoIsIAm@gmal.cam</h6>
    <p>cam is actually content addressable memory, thank me later cisco baiter.</p>
</div>

</body>
</html>