extends ./layout.pug

block titles
    h1 ADD/CREATE A CAT !

block content
    form(action="../cats", method="post" enctype="multipart/form-data")
        label(for="nameInput") cats name?
        |
        input(id="nameInput" type="text", name="name", placeholder="cat name")
        |
        label(for="breedInput") cats breed?
        |
        input(id="breedInput" type="text", name="breed", placeholder="cat breed")
        |
        label(for="imgInput") add a picture?
        |
        input(id="imgInput" type="file", name="img", accept="image/*" placeholder="img link")
        |
        p all done?
        |
        input(type="submit", value="create a car")

block feet
    a(href="./") back
    |
    h4 we love to see u add your catties batties latties !!!!