extends ../views/layout.pug

block titles
    h1 ADD/CREATE A CAT !

block content
    form(action="../cats", method="post")
        p cats name?
        |
        input(type="text", name="catName", placeholder="cat name")
        |
        p cats breed?
        |
        input(type="text", name="catBreed", placeholder="cat breed")
        |
        p add a picture?
        |
        input(type="text", name="catPic", placeholder="img link")
        |
        p all done?
        |
        input(type="submit", value="create a car")

block feet
    a(href="./") back
    |
    h4 we love to see u add your catties batties latties !!!!