extends ../views/main.pug

    block titles
        h1 DELETE A CAT!
        p got the wrong one? neow problem

    block content
        form
            p which is the id of the cat?
            |
            input( id="id" type="text", placeholder="cat id?")
            |
            buttom(onclick="submitRemoval()", type="button")
