doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width-device-width, initial-scale=1.0")
        title NekoToru
        script
            include routeFunctions.js
        style
            include style.css
    body
        header
            block titles
                nav
                    block navigation
                        p(class="navTitle") NekoToru
                        |
                        a(href="./") Home
                        |
                        a(href="./cats/contact") Contact
                        |
                        a(href="../cats") Cats
                        |
                        a(href="") Register
                        |
                        a(href="") Login

        main
            block content

        footer
            block feet
