doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width-device-width, initial-scale=1.0")
        title NekoToru
        link(rel='icon' type='image/png' href='images/favicon1.png')
        script
            include routeFunctions.js
        style
            include style.css
    body
        header
            block titles
                nav
                    block navigation
                        include _navbar.pug
        main
            block content

        footer
            block feet
