extends ./layout.pug

block content
    form(action="/GA/auth/login", method="Post")
        label(for="emal") email
        input(id="emal", name="email", type="text", placeholder="email?")
        label(for="paswr") password
        input(id="paswr", name="password", type="password", placeholder="password?")
        input(type="submit", value="login")

block feet
    h4 WE THANK YOU
    p praise the cats.
