extends ./layout.pug

    block navigation
        p(class="navTitle") NekoToru
        |
        a(href="./") Home
        |
        a(href="./cats/contact") Contact
        |
        a(href="../cats") Cats
        |
        a(href="") Register
        |
        a(href="") Login

block content
    p This is the very main page of the cat page.
    .imgBox
        img(src="./images/catchilling.jpg", alt = "the cat is chilling")

block feet
    h4 this is the bottom of the page of the cat page

