doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width-device-width, initial-scale=1.0")
        title Contact
        link(rel="stylesheet", type="text/css", href="../views/style.css")
        script(src="./routeFunction.js")

    body
        header
            block titles
                h1 WELCOME TO THE PAGE
                a(href="./cats") cats
                a(href="./contact") contact
        main
            block content

        footer
            block feet
