extends ../views/layout.pug


block titles
    h1 WELCOME TO THE PAGE

    block content
        p This is the very main page of the cat page.
        .imgBox
            img(src="./images/catchilling.jpg", alt = "the cat is chilling")

    block feet
        h4 this is the bottom of the page of the cat page

