extends ./layout.pug

block content
    h1 HI DEAR #{$userName}

    .updateProfileForum
        form(action="../updateProfile", method="patch" enctype="multipart/form-data" class="updateProfileForum" id="UPF")
            label(for="paswr") password?
            |
            input(id="paswr", name="password", type="password", placeholder="password?")
            |
            label(for="uEmail") update email?
            |
            input(id="uEmail" type="text", name="uEmail", placeholder="update email?")
            |
            label(for="uName") change user?
            |
            input(id="uName" type="text" name="uName" placeholder="update username?")
            |
            label(for="submitButtonPro") all done?
            |
            button(id="submitButtonPro" type="button" onclick="submitProfileChanges()" value="update profile") UPDATE PROFILE

    .DeleteProfile
        button(onclick="deleteProfile({$userId})") DELETE

