extends ./layout.pug

block titles
    h1 REGISTER !!! BECOME A PART OF THIS AMAZING CAT CU- GROUP!!1

block content
    form
        input()
        input()
        input()
        input()

block feet
    h4 WE THANK YOU
    p praise the cats.