extends ./layout.pug

block titles
    h1 REGISTER
    h4 !!! BECOME A PART OF THIS AMAZING CAT CU- GROUP!!1

block content
    form(action="../cats", method="Post")
        input(id="usernam", name="username", type="text", placeholder="username?")
        input(id="emal", name="email", type="text", placeholder="email?")
        input(id="paswr", name="password", type="password", placeholder="password?")
        input(type="submit", value="register")

block feet
    h4 WE THANK YOU
    p praise the cats.