extends ./layout.pug

block content
    form(action="../catsIDK", method="Post")
        input(id="usernam", name="username", type="text", placeholder="username?")
        input(id="emal", name="email", type="text", placeholder="email?")
        input(id="paswr", name="password", type="password", placeholder="password?")
        input(type="submit", value="register")

block feet
    h4 WE THANK YOU
    p praise the cats.