
*{ margin: 0; box-sizing: border-box; }

@font-face {  font-family: nunitoFont;  src: url(nunito-regular.woff);  }

:root {
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --text: #cdd6f4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #585b70;
    --surface1: #45475a;
    --surface0: #313244;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;

    --ligth-base: #F3E5F5;
    --light-base2: #8560B1;;
    --lavender: #E2D3F3;
    --light-button: ;
    --light-headers: #463956;
    --light-border: ;
    --light-text: #201828;
    --light-link: ;

    --dark-base: #161E31;
    --dark-button: ;
    --dark-text: #89B8D2;
    --dark-border: ;
    --dark-headers: #509AAF;
    --dark-link: ;

    --brownieText: #361600;
    --brownie-base: #9A6E4F;
    --brownieHeaders: #FFCDAB;
    --browniBorder: #E1C1AB;
}

body{ /*background-color: var(--brownie-base);*/ text-align: center; }
h1, h2, h3, h4, h5, h6{ /*color: var(--brownieHeaders); */font-family: nunitoFont, serif; }
h1{ font-size: 2.8rem; }
h3{ font-size: 2.2rem; }
h4{ font-size: 2rem; }
h5{ font-size: 1.7rem; }
p, li{ /*color: var(--brownieText);*/ font-family: nunitoFont, sans-serif; }
a{ /*color: var(--brownieText);*/ text-decoration: none; font-size: 1.7rem; }

header{ padding:0.4%; }
main{ display:grid; place-items: center; gap: 10px; padding: 0.6%;}
footer{ padding: 0.4%; }

.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #74c7ec;
    margin:20px;
}

.navBrand{ display:flex; align-items:center; gap:15px; padding:10px; }
.navBrand .logo{ height:40px; width:auto; transform-origin:left center; }
.navLinks{ display:flex; gap:30px; align-items: center; }

.navLinks a{ border-radius: 10px; }
.navLinks a.active{ border:1px solid #1e1e2e; }

.navAuth{ display:flex; gap:10px; padding:10px 20px;}

.btn{ border-radius: 10px; }

/* LAYOUT? / BASE */

/* HOME / MAIN  PAGE */



/* CONTACT PAGE */

/* CATS PAGE */

/* CREATE PAGE */

/* LOGIN / REGISTER PAGE */
